/* 標籤基本樣式 */
*,*::before,*::after{
    box-sizing: border-box;
}
a{
    color: $neutral-900;
    text-decoration: none;
    display:block;
    font-weight: 500;
}
img{
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

body{
    font-family: "Noto Sans TC", sans-serif;
    font-size:16px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    color: $neutral-900;

}