<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    
    <%- include("./layout/header.ejs")%>
    
    <header class="index-header mb-64 mb-md-40">
        <h1 class="display-1 display-md-1 text-white mb-16 mb-md-8">URBNSTEP</h1>
        <p class="h3 h5-md text-white mb-48 mb-md-32">Your Step, Your Statement</p>
        <button type="button" class="btn btn-primary-300">立即選購</button> 
    </header>
    <main>
      <section class="py-64 py-md-40">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="text-center mb-32 mb-md-24">
                <h2 class="display-2  h2-md mb-16 mb-md-8">New Arrival</h2>
                <p class="h2 h4-md">新品上市</p>
              </div>
              <ul class="row">
                <li class="col-6 col-md-2 mb-40 mb-md-24">
                  <a href="products.html">
                    <img src="/assets/images/new-1.png" alt="新品抵達-1">
                    <p class="h5 h6-md">Monoverse</p>
                    <p class="label-md">NT$3,600</p>
                  </a>
                </li>
                <li class="col-6 col-md-2 mb-40 mb-md-24">
                  <a href="product.html">
                    <img src="/assets/images/new-2.png" alt="新品抵達-2">
                    <p class="h5 h6-md">PLATFORM 404</p>
                    <p class="label-md">NT$2,600</p>
                  </a>
                </li>
                <li class="col-6 col-md-2">
                  <a href="products.html">
                    <img src="/assets/images/new-3.png" alt="新品抵達-3">
                    <p class="h5 h6-md">URBN Force</p>
                    <p class="label-md">NT$3,200</p>
                  </a>
                </li>
                <li class="col-6 col-md-2">
                  <a href="products.html">
                    <img src="/assets/images/new-4.png" alt="新品抵達-4">
                    <p class="h5 h6-md">Mode90</p>
                    <p class="label-md">NT$4,000</p>
                  </a>
                </li>
              </ul>
              

              
              
              
            </div>
          </div>
        </div>
        

      </section>

      <section class="py-64 py-md-40">
        <div class="container">
          <h3 class="h2 h4-md mb-16">熱銷補貨</h3>
          <div class="row flex-md-nowrap overflow-x-auto product-md-row">
            <div class="col-3 product-md-col">
              <div class="product-card">
               <span class="product-text">人氣 No.1</span>
               <img src="/assets/images/product-3.png" alt="Melty Kiss"> 
              </div>    
            </div>
            <div class="col-3 product-md-col">
              <div class="product-card">
               <span class="product-text">人氣 No.1</span>
               <img src="/assets/images/product.png" alt="PLATFORM 404"> 
              </div>    
            </div>
            <div class="col-3 product-md-col">
              <div class="product-card">
               <span class="product-text">人氣 No.1</span>
               <img src="/assets/images/product-6.png" alt="R:UNER"> 
              </div>    
            </div>
            <div class="col-3 product-md-col">
              <div class="product-card">
               <span class="product-text">人氣 No.1</span>
               <img src="/assets/images/product-4.png" alt="BOOMBLOK"> 
              </div>    
            </div>
          </div>
        </div>
      </section>
      <section class="py-48 py-md-24">
        <div class="banner">
         <h3 class="display-2 h2-md text-white d-md-flex flex-md-column gap-md-8 mb-16">
          <span>URBNSTEP</span>
          <span class="h1 h3-md text-primary-300 px-24">x</span>
          <span>Kevin Chen</span>
        </h3>
        <h3 class="h2 h4-md text-white mb-32 mb-md-24">跨界聯名，限量發售</h3>
        <p class="text-lg text-neutral-500 d-md-flex flex-md-column gap-md-4 mb-48">
          <span>新銳漫畫家 Kevin Chen 親自操刀設計</span>
          <span class="d-md-none">，</span>
          <span>街頭能量全面引爆！</span>
        </p>
        <button type="button" class="btn btn-primary-300">立即搶購</button>
        <img src="/assets/images/sparkle.svg" alt="sparkle圖片" class="sparkle-img">
        <img src="/assets/images/star.svg" alt="star圖片" class="star-img">
        </div>
        
      </section>
      <section class="py-64 py-md-40">
        <div class="container">
          <h3 class="h2 h4-md mb-16">依系列選購</h3>
          <div class="row">
            <div class="col-3 col-md-2 mb-md-12">
              <div class="category">
                <img src="/assets/images/product-6.png" alt="慢跑系列">
                <div class="category-text">
                  <h4 class="h3 mb-8">URBN RUNNER</h4>
                  <p class="h4">慢跑系列</p>
                </div>
              </div>
            </div>
            <div class="col-3 col-md-2 md-md-12">
              <div class="category">
                <img src="/assets/images/product-11.png" alt="滑板系列">
                <div class="category-text">
                  <h4 class="h3 mb-8">STREETMODE</h4>
                  <p class="h4">滑板系列</p>
                </div>
              </div>
            </div>
            <div class="col-3 col-md-2">
              <div class="category">
                <img src="/assets/images/product-4.png" alt="慢跑系列">
                <div class="category-text">
                  <h4 class="h3 mb-8">CHUNK DISTRICT</h4>
                  <p class="h4">厚底系列</p>
                </div>
              </div>
            </div>
            <div class="col-3 col-md-2">
              <div class="category">
                <img src="/assets/images/product-1.png" alt="慢跑系列">
                <div class="category-text">
                  <h4 class="h3 mb-8">COLLAB ZONE</h4>
                  <p class="h4">聯名企劃</p>
                </div>
              </div>
            </div>
          </div>
        
        </div>
      </section>
      <section class="py-64 py-md-40 mb-md-24">
        <div class="container">
          <h3 class="h2 h4-md mb-16">穿搭靈感</h3>
          <div class="inspiration-row overflow-x-auto">
              <div class="inspiration-col-4">
                <div class="inspiration-row">
                  <div class="inspiration-col-6">
                    <img src="/assets/images/inspiration-1.png" alt="穿搭靈感圖片1">
                  </div>
                  <div class="inspiration-col-6">
                    <img src="/assets/images/inspiration-2.png" alt="穿搭靈感圖片2">
                  </div>
                  <div class="inspiration-col-12">
                    <img src="/assets/images/inspiration-3.png" alt="穿搭靈感圖片3">
                  </div>
                </div>
              </div>
              <div class="inspiration-col-4">
                <div class="inspiration-row">
                  <div class="inspiration-col-6">
                    <img src="/assets/images/inspiration-4.png" alt="穿搭靈感圖片4">
                  </div>
                  <div class="inspiration-col-6">
                    <img src="/assets/images/inspiration-5.png" alt="穿搭靈感圖片5">
                  </div>
                  <div class="inspiration-col-6">
                    <img src="/assets/images/inspiration-6.png" alt="穿搭靈感圖片6">
                  </div>
                  <div class="inspiration-col-6">
                    <img src="/assets/images/inspiration-7.png" alt="穿搭靈感圖片7">
                  </div>
                  <div class="inspiration-col-6">
                    <img src="/assets/images/inspiration-8.png" alt="穿搭靈感圖片8">
                  </div>
                  <div class="inspiration-col-6">
                    <img src="/assets/images/inspiration-9.png" alt="穿搭靈感圖片9">
                  </div>
                </div>
              </div>
              <div class="inspiration-col-4">
                <div class="inspiration-row">
                  <div class="inspiration-col-12">
                    <img src="/assets/images/inspiration-10.png" alt="穿搭靈感圖片10">
                  </div>
                  <div class="inspiration-col-6">
                    <img src="/assets/images/inspiration-11.png" alt="穿搭靈感圖片11">
                  </div>
                  <div class="inspiration-col-6">
                    <img src="/assets/images/inspiration-12.png" alt="穿搭靈感圖片12">
                  </div>
                </div>
              </div>
          </div>
      </section>
    </main>
 
    <%- include("./layout/footer.ejs") %>
 

    <script type="module" src="../main.js"></script>
  </body>
</html>
